.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  line-height: 1.7;
}

.container h1,
.container h2,
.container h3 {
  border-bottom: 1px solid #eaecef;
  padding-bottom: 0.3em;
  margin-top: 24px;
  margin-bottom: 16px;
}

.container p {
  margin-bottom: 1rem;
}

.container code {
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 6px;
  padding: 0.2em 0.4em;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
}

.container pre {
  background-color: #f6f8fa;
  border-radius: 6px;
  padding: 16px;
  overflow: auto;
}


.logoContainer {
  display: flex;
  justify-content: center;
}
